.oneBIbgColor {
    background-color: #75448D;
}
.oneBIfgColor {
    color: #75448D;
}
.background {
    background: url('background.png');

    height: 100%;
    width: 100%;
}
.fgWhite {
    color: #ffffff;
}
.margin1 {
    margin: 1px;
}
.margin5 {
     margin: 5px;
 }
.margin10 {
    margin: 10px;
}
.menu-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.list-group{
}
.list-group-item {

    text-align: right;
    width: 100%;
    margin-bottom: 4px;
    margin-left: 0px;

    transition-duration: 2s;

    animation-name:szerokosc;
    animation-duration:1s;
    animation-iteration-count:1;


    -webkit-animation-name:szerokosc;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:1;


}
@keyframes szerokosc
{
    0% { width:30%; }
    100% { width:100%; }
}

@-webkit-keyframes szerokosc
{
    0% { width:30%; }
    100% { width:100%; }
}
.list-group-item-text:hover{
    color: purple;
    font-size: 18px;
}

.title
{
    color: #75448D;
}




