<template name="layout">
    <div class="container-fluid background">
    <header>
        {{> header}}
    </header>
    <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-md-2 menu-padding">
                <div class="list-group" id="item">
                    <a class="list-group-item" href="{{pathFor 'naszePodejscie'}}" name="item"><p class="list-group-item-text">Nasze podejście</p></a>
                    <a class="list-group-item" href="{{pathFor 'uslugi'}}" name="item"><p class="list-group-item-text">Usługi</p></a>
                    <a class="list-group-item" href="{{pathFor 'partnerzy'}}" name="item"><p class="list-group-item-text">Partnerzy</p></a>
                    <a class="list-group-item" href="{{pathFor 'praca'}}" name="item"><p class="list-group-item-text">Praca</p></a>
                    <a class="list-group-item" href="{{pathFor 'kontakt'}}" name="item"><p class="list-group-item-text">Kontakt</p></a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6" style="background-color: #ffffff; min-height: 800px">
                {{> yield}}
            </div>

        </div>
        {{> footer}}
    </div>

</template>
