<template name="layout">
    <div class="container-fluid background" id="container">
    <header>
        {{> header}}
    </header>
    <div class="row" id="separatingRow" style="height: 50px;"></div>
        <div class="row">
            <div class="col-md-2 menu-padding">
                <div class="list-group" id="item">
                    <a class="list-group-item" href="{{pathFor 'naszePodejscie'}}" name="item"><p class="list-group-item-text">Nasze podejście</p></a>
                    <a class="list-group-item" href="{{pathFor 'uslugi'}}" name="item"><p class="list-group-item-text">Usługi</p></a>
                    <a class="list-group-item" href="{{pathFor 'partnerzy'}}" name="item"><p class="list-group-item-text">Partnerzy</p></a>
                    <a class="list-group-item" href="{{pathFor 'praca'}}" name="item"><p class="list-group-item-text">Praca</p></a>
                    <a class="list-group-item" href="{{pathFor 'kontakt'}}" name="item"><p class="list-group-item-text">Kontakt</p></a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6" id="content" data-role="content2">
                {{> yield}}
            </div>

        </div>

    </div>
    <div class="container-fluid">
        {{> footer}}
    </div>
</template>
