<template name="uslugiPrzemysl">
    <div class="title">
        <h3>Przemysł</h3>
    </div>
    <div class="contentUslugi">
        <ul>
            <li>Analiza danych z pracy urządzeń</li>
            <li>Prognozowanie zdarzeń (w tym awarii)</li>
        </ul>
    </div>
</template>
<template name="uslugiTransport">
    <div class="title">
        <h3>Transport</h3>
    </div>
    <div class="contentUslugi">
        <ul>
            <li>Analiza natężenia ruchu pojazdów i pieszych</li>
            <li>Analiza strumieni ruchu pojazdów i pieszych</li>
        </ul>
    </div>
</template>
<template name="uslugiAdministracja">
    <div class="title">
        <h3>Administracja publiczna</h3>
    </div>
    <div class="contentUslugi">
        <ul>
            <li>Wykrywanie zdarzeń nieporządanych (w tym nadużycia)</li>
            <li>Zarządzanie ryzykiem</li>
        </ul>
    </div>
</template>
<template name="uslugiTelekomunikacja">
    <div class="title">
        <h3>Telekomunikacja</h3>
    </div>
    <div class="contentUslugi">
        <ul class="taka">
            <li>Zarządzanie cyklem życia klienta</li>
            <li>Wsparcie sprzedaży</li>
            <li>Budowa modeli Anty-Churn oraz modele x-sell</li>
            <li>Projektowanie i budowa Hurtowni Danych (w tym Big Data)</li>
        </ul>
    </div>
</template>
<template name="uslugiMedia">
    <div class="title">
        <h3>Media</h3>
    </div>
    <div class="contentUslugi">
        <ul>
            <li>Analizy Text Mining</li>
            <li>Analiza sieci społecznościowych</li>
        </ul>
    </div>
</template>
<template name="uslugiZdrowie">
    <div class="title">
        <h3>Zdrowie</h3>
    </div>
    <div class="contentUslugi">
        <ul>
            <li>Systemy Ekspertowe</li>
            <li>Budowa rejestrów medycznych</li>
            <li>Zarządzanie ryzykiem (w tym wykrywanie nadużyć)</li>
        </ul>
    </div>
</template>
