<template name="naszePodejscie">
        <div class="title">
            <h3> Nasze Podejście </h3>
        </div>

        <div class="content">
            <p>
                Specjalizujemy się w praktycznym stosowaniu technologii informatycznych w zakresie analizy danych. Dostarczamy wiedzę i rozwiązania dla dziedzin życia, w których duża ilość danych jest wyzwaniem. Oferujemy inne podejście do realizacji wdrożeń i systemów klasy BI
            </p>
            <p>
                Doradzamy i dostarczamy rozwiązania umożliwiające wykorzystanie Twoich danych w celu zwiększenia efektywności Waszej organizacji.
            </p>
            <p>
                Wskazujemy gdzie szukać danych i jak je pozyskiwać.
            </p>
            <p>
                Pomagamy przygotować Twój zespół do efektywnego wykorzystania dostarczonego rozwiązania.
            </p>
            <p>
                Dostarczamy wykwalifikowanych konsultantów z obszarów BI i DWH. Specjalizujemy się w technologiach Oracle, SAS i Teradata.
            </p>
        </div>
</template>

<template name="aktualnosci">
    <div class="title">
        <h3>Aktualności </h3>
    </div>
</template>

<template name="uslugi">
    <div class="title">
        <h3>Usługi</h3>
    </div>
</template>

<template name="partnerzy">
    <div class="title">
        <h3>Partnerzy</h3>
    </div>
</template>

<template name="praca">
    <div class="title">
        <h3>Praca</h3>
    </div>
</template>

<template name="kontakt">
    <div class="title">
        <h3>Kontakt</h3>
    </div>
    <div class="content" align="center">
        <p>OneBI Sp.z o.o</p>
        <p>ul. Nowogrodzka 50/515</p>
        <p>00-695 Warszawa</p>
        <p>office@onebi.eu</p>
    </div>
</template>